#index{
  background-color: white;
  padding: 25px;
  border-radius: 10%;
  border: solid 3px black;
  box-shadow: 10px 10px darkgrey;
  text-align: center;

}
#examenes_bd{
background-color: white;
  padding: 20px 15px;
  text-align: center;
  border-radius: 10%;
  border: solid 3px black;
  box-shadow: 10px 10px darkgrey;
}
#titulo{
border-radius: 10%;
  border: solid 3px black;
  box-shadow: 10px 10px darkgrey;

background-color: white;
  padding: 40px 20px;
  border-radius: 20px 20px 20px 20px;
}
#alumnos_bd{
border-radius: 10%;
  border: solid 3px black;
  box-shadow: 10px 10px darkgrey;
background-color: white;
  padding: 40px 20px;
  border-radius: 20px 20px 20px 20px;
  text-align:center;
}

input {
  text-align: center;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}


.navbar-brand:hover, .navbar-brand:focus{
  color: red !important;
  background-color: transparent !important;
}

.nav_item2, .nav_item3{
  font-size: 20px;
}
.nav_item2:hover, .nav_item3:hover{
  color:red;
  text-decoration: none !important;

}
#boton_colap{
  margin-top: 10px;
}
#boton_colap .btn::before{
  font-weight: bold;
  content: "No mostrar";
}



#boton_colap .btn.collapsed::before {
  font-weight: bold;
  content: "Mostrar";
}


#boton-alg a{
  font-weight: bold;
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {

  background-color: #95c2de;
}

.mainbox {
  background-color: #95c2de;
  margin: auto;
  top: 200px;
  height: 600px;
  width: 600px;
  position: relative;
}

  .err {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position:absolute;
    left: 20%;
    top: 8%;
  }

.far {
  position: absolute;
  font-size: 8.5rem;
  left: 42%;
  top: 17%;
  color: #ffffff;
}

 .err2 {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position:absolute;
    left: 68%;
    top: 8%;
  }

.msg {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    position:absolute;
    left: 16%;
    top: 43%;
    width: 75%;
  }

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}









nav .btn
{
 position: relative;
 width: 155px;
 height: 45px;
 margin-left: 20px;
}
nav .btn a{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 background: rgba(255,255,255, 0.05);
 box-shadow: 0 15px 35px rgba(0,0,0,0.2);
 border-top: 1px solid rgba(255,255,255,0.8);
 border-bottom: 1px solid rgba(255,255,255,0.8);
 border-radius: 30px;
 color: #fff;
 z-index: 1;
 font-weight: 400;
 letter-spacing: 1px;
 text-decoration: none;
 overflow: hidden;
 transition: 0.5s;
 backdrop-filter: blur(15px);
}
nav .btn:hover a{
 letter-spacing: 3px;

}
nav .btn a::before{
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 width: 50%;
 height: 100%;
 background: linear-gradient(to left, rgba(255,255,255,0.15),transparent);
 transform: skewX(45deg) translateX(0);
 transition: 0.5s
}
nav .btn:hover a::before
{
 transform: skewX(45deg) translateX(200%);
}
nav .btn::before
{
 content: '';
 position: absolute;
 left: 50%;
 transform: translateX(-50%);
 bottom: -5px;
 width: 30px;
 height: 10px;
 background: #f00;
 border-radius: 10px;
 transition: 0.5s;
}
nav .btn:hover::before
{
 bottom: 0;
 height: 50%;
 width: 80%;
 border-radius: 30px;
 transition-delay: 0.2s;
}
nav .btn::after
{
 content: '';
 position: absolute;
 left: 50%;
 transform: translateX(-50%);
 top: -5px;
 width: 30px;
 height: 10px;
 background: #f00;
 border-radius: 10px;
 transition: 0.5s;
}
nav .btn:hover::after
{
 top: 0;
 height: 50%;
 width: 80%;
 border-radius: 30px;
 transition-delay: 0.2s;
}

nav #boton1::before,nav #boton1::after
{
 background: #2bd2ff;
 box-shadow: 0 0 5px #2bd2ff,
 0 0 15px #2bd2ff,
 0 0 30px #2bd2ff,
 0 0 60px #2bd2ff;
}
nav #boton2::before,nav #boton2::after
{
 background: #1eff45;
 box-shadow: 0 0 5px #1eff45,
 0 0 15px #1eff45,
 0 0 30px #1eff45,
 0 0 60px #1eff45;
}
